.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $base-light-bg;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    padding-bottom: 125px;
    text-align: start;
  }
}

.about__container {
  display: grid;
  gap: 36px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 355px 1fr;
    gap: 0 145px;
  }
}

.about__main-content {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.about__main-content p {
  margin: 0;

  &:first-of-type {
    margin-bottom: 36px;
  }

  &:last-of-type {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 0 88px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    &:first-of-type {
      margin-bottom: 95px;
    }

    &:last-of-type {
      display: block;
    }
  }
}

.about__accent strong {
  font-weight: inherit;
}

.about__title {
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.about__img {
  margin: 0 -15px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.about__video-wrapper {
  position: relative;
  margin: 0 -15px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin: 0;

    margin-top: -121px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
    margin-top: 285px;
    height: fit-content;
  }
}

.about__video {
  display: none;
}

.about__video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
