.faq {
  padding-top: 71px;
  padding-bottom: 70px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.faq__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 0 40px;
  }
}

.faq__title {
  margin: 0;
  margin-bottom: 34px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    margin-bottom: 50px;

    text-align: start;
  }
}

.faq__themes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @include list-default;
  @include font-set(16px, 16px, 400);

  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 45px;

    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    margin-bottom: auto;
  }
}

.faq__theme-button {
  width: 100%;
  padding: 13px;
  background-color: transparent;
  border: 1px solid $faq-tabs;
  cursor: pointer;

  &:hover {
    border-color: $border-button-dark;
  }

  &:focus {
    background-color: $base-light-bg;
    border-color: $border-button-dark;
    outline: none;
  }

  &:active,
  &--is-active {
    color: $light-text-color;
    background-image: $buttons-bg;
    border-image: $buttons-bg 1;
  }

  &:disabled {
    background-color: transparent;
    border-color: $border-button-dark;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    padding: 18px;
  }
}

.faq__questions-list {
  border-top: 1px solid $underline-tabs;

  @include list-default;
}
