// .faq {}
// .faq__container {}
// .faq__title {}
.faq__themes-list {
  @include font-set(16px, 16px, 400);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  }
}
// .faq__themes-item {}
.faq__theme-button {
  background-color: transparent;
  border: 1px solid $border-button-dark;

  &--is-active {
    color: $light-text-color;
    background-image: $buttons-bg;
    border-image: $buttons-bg 1;
  }
}
// .faq__questions-list {}
// .faq__questions-item {}
