// .feature__name {}
.feature__accent {
  strong {
    @include font-set(64px, 64px, 700);

    @media (min-width: $tablet-width) {
      font-size: 70px;
      line-height: 70px;
    }
  }

  span {
    @include font-set(14px, 20px, 400);

    @media (min-width: $tablet-width) {
      line-height: 22px;
    }
  }
}

// .feature__describtion {}

.feature--alt-colored {
  p span {
    @include font-set(22px, 22px, 700);

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      font-size: 26px;
      line-height: 26px;
    }
  }
}
