.form-field {
  position: relative;
}

.form-field__name {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.form-field__inp {
  width: 100%;

  color: $light-text-color;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $underline-tabs;

  @include font-set(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  &::placeholder {
    opacity: 0;
  }

  &:invalid {
    border-color: #ff121f;
  }

  &:empty {
    border-color: $underline-tabs;
  }

  &:hover {
    border-color: $border-button-light;
  }

  &:focus {
    border-color: transparent;
    outline: 1px solid $border-button-light;
    outline-offset: 10px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.form-field__error {
  margin: 0;
  color: #ff121f;
  margin-bottom: -22px;

  @include font-set(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.form-field__inp:placeholder-shown+.form-field__name {
  display: block;
}
