.juri {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $base-light-bg;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.juri__container {
  padding: 0 30px;
}

.juri__title {
  margin-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.juri__slider-control {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
}

.juri__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: $dark-icon-color;
  background-color: transparent;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &--prev {
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    border-color: $border-button-dark;
  }

  &:focus {
    background-color: $shadow-text-color;
  }

  &:active {
    color: $light-icon-color;
    background-color: $base-dark-bg;
  }
}

.juri__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }
}
