// .juri-card {}
// .juri-card__photo {}
.juri-card__overlay {
  color: $light-text-color;
  background-color: $juri-overlay-bg;
  opacity: 0.89;
}

// .juri-card__name {}
// .juri-card__specialization {}
.juri-card__about-list {
  @include font-set(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}
// .juri-card__about-item {}
