.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;

  @include list-default;

  @media (min-width: $tablet-width) {
   gap: 30px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
  }
}

.main-nav__link {
  @include link-default;
}
