.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 37px;

  @include list-default;

  @media (min-width: $tablet-width) {
    gap: 32px;
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 82px;
  }
}

.main-nav__link {
  @include link-default;

  &:hover {
    color: color.adjust($border-button-second-dark, $alpha: 0.5);
  }

  &:focus {
    color: $border-button-second-dark;
    outline: none;
  }

  &:active {
    color: $dark-text-color;
    border-color: $border-button-dark;
  }
}
