.offer {
  display: grid;
  gap: 20px;
  justify-items: center;
  padding: 20px 20px 26px;

  text-align: center;

  border-width: 7px;
  border-style: solid;
  border-image: $buttons-bg 1;

  &--main-offer {
    gap: 0;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;

    color: $light-text-color;
    background-color: $banners-bg;
    border: none;
  }

  @media (min-width: $tablet-width) {
    gap: 10px;
    justify-items: start;
    text-align: start;

    &--main-offer {
      grid-column: span 2;
      display: grid;
      grid-template-columns: 278px 1fr;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--main-offer {
      grid-column: unset;
    }
  }
}

.offer__main-content {
  display: grid;
  justify-items: center;
  gap: 28px;
  padding: 31px;
  padding-bottom: 36px;

  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto auto 1fr;
    justify-items: start;
    gap: 40px;
    padding: 40px 25px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 45px;
  }
}

.offer h3 {
  margin: 0;

  @include font-set(22px, 22px, 700);

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.offer p {
  margin: 0;
}


.offer--main-offer h3 {
  width: min-content;
}

.offer--main-offer span {
  display: block;
  margin-top: 9px;

  @include font-set(64px, 64px, 700);

  @media (min-width: $tablet-width) {
    margin-top: 20px;

    font-size: 70px;
    line-height: 70px;
  }
}

.offer--main-offer p {
  @include font-set(16px, 20px, 300);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.offer__link {
  position: relative;
  height: fit-content;

  text-transform: uppercase;

  @include link-default;
  @include font-set(14px, 14px, 700);

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    align-self: end;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: $underline-tabs;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 1px solid $border-button-second-dark;
    outline-offset: 10px;
  }

  &:focus::before {
    background-color: transparent;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
  }
}

.offer--main-offer .offer__link {
  &::before {
    background-color: $border-button-light;
  }

  &:focus {
    outline-color: $border-button-light;
  }

  &:focus::before {
    background-color: transparent;
  }
}
