.offer {
  border-width: 7px;
  border-style: solid;
  border-image: $buttons-bg 1;
}

.offer--main-offer {
  color: $light-text-color;
  background-color: $banners-bg;
  border: none;

  h3 span {
    @include font-set(64px, 64px, 700);

    @media (min-width: $tablet-width) {
      font-size: 70px;
      line-height: 70px;
    }
  }

  p {
    @include font-set(16px, 20px, 300);

    @media (min-width: $tablet-width) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.offer__title {
  @include font-set(22px, 22px, 700);

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

// .offer__description {}
.offer__link {
  text-transform: uppercase;

  @include link-default;
  @include font-set(14px, 14px, 700);
}

// .offer__img {}
