.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  color: $light-text-color;
  background-color: $footer-bg;
  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 0;
    justify-content: space-between;
    align-items: center;
  }
}
