.price {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../../img/bg-price-img-tablet-x1.png);
    background-size: 325px 388px;
    background-repeat: no-repeat;
    background-position: right bottom;

    @supports (background-image: url(../../img/bg-price-img-tablet-x1.webp)) {
      background-image: url(../../img/bg-price-img-tablet-x1.webp)
    }

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/bg-price-img-tablet-x2.png);

      @supports (background-image: url(../../img/bg-price-img-tablet-x2.webp)) {
        background-image: url(../../img/bg-price-img-tablet-x2.webp)
      }
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url(../../img/bg-price-img-pc-x1.png);
    background-size: 303px 448px;

    @supports (background-image: url(../../img/bg-price-img-pc-x1.webp)) {
      background-image: url(../../img/bg-price-img-pc-x1.webp)
    }

    @media (min-resolution: 2dppx) {
      background-image: url(../../img/bg-price-img-pc-x2.png);

      @supports (background-image: url(../../img/bg-price-img-pc-x2.webp)) {
        background-image: url(../../img/bg-price-img-pc-x2.webp)
      }
    }
  }
}

.price__title {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.price__period-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include font-set(16px, 16px, 400);
  @include list-default;
  margin-bottom: 30px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $unactive-tabs;
    margin-top: -2px;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    justify-content: center;
    column-gap: 50px;
    width: fit-content;
    font-size: 18px;
    line-height: 18px;
    margin: 0 auto;
    margin-bottom: 40px;

    &::after {
      width: calc(100% - 50px);
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.price__period-tab {
  padding: 0 0 10px 0;
  font-family: inherit;
  color: transparentize($dark-text-color, 0.5);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &:hover {
    color: transparentize($dark-text-color, 0.7);
    border-color: $underline-hover;
  }

  &:focus {
    color: $dark-text-color;
    border-color: $border-button-dark;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
    border-color: transparentize($border-button-dark, 0.3);
  }

  &:active,
  &--is-active {
    color: $dark-text-color;
    border-color: $accent-tabs;
    opacity: 1;
  }
}

.price__product-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  @include list-default;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
