.product-card {
  display: grid;
  row-gap: 18px;
  padding: 43px 35px;
  text-align: center;
  background-color: $base-light-bg;
  border: 7px solid $base-light-bg;

  @media (min-width: $tablet-width) {
    width: 380px;
    margin: 0 auto;
    padding: 58px;
    row-gap: 21px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 17px;
  }

  &:hover,
  &:has(.product-card__link:hover),
  &:has(.product-card__link:focus) {
    border-width: 7px;
    border-style: solid;
    border-image: $buttons-bg 1;
  }

  &:hover .product-card__link {
    color: $light-text-color;
    background-image: $buttons-bg;
    border-image: $buttons-bg 1;
  }
}

.product-card__title {
  margin: 0;

  @include font-set(22px, 22px, 700);

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.product-card__description {
  margin: 0;
}

.product-card__price {
  margin: 0;
  color: $accent-text-color;

  @include font-set(48px, 72px, 700);

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 90px;
  }
}

.product-card__price-cost {
  display: grid;
  margin: 0;

  &::before {
    content: attr(data-value);
    grid-column: 1/-1;
    grid-row: 1/2;
    color: $shadow-text-color;

    @include font-set(80px, 120px, 700);

    @media (min-width: $tablet-width) {
      font-size: 100px;
      line-height: 150px;
    }
  }
}

.product-card__price-value {
  grid-column: 1/-1;
  grid-row: 1/2;
  align-self: end;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 33px;
    margin-left: 10px;
    background-image: url("/__spritemap#sprite-ruble-view");
    background-size: 24px 100%;
  }
}

.product-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;

  text-transform: uppercase;
  border: 2px solid $border-button-dark;

  @include link-default;
  @include font-set(12px, 12px, 700);

  @media (min-width: $tablet-width) {
    padding: 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $light-text-color;
    background-image: $buttons-bg;
    border-image: $buttons-bg 1;
  }

  &:focus {
    opacity: 0.8;
    outline: 2px solid #000000;
  }

  &:active {
    color: color.adjust($light-text-color, $alpha: 0.7);
  }

  &:disabled,
  &--disabled {
    color: $dark-text-color;
    background-image: none;
    background-color: transparent;
    border-color: $border-button-dark;
    opacity: 0.3;
  }
}
