.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include list-default;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 10px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: $base-light-bg;
  border-radius: 50%;
}
