// .timings-list {}
// .timings-list__item {}
.timings-list__item-name {
  @include font-set(16px, 20px, 300);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}
.timings-list__item-value {
  @include font-set(24px, 24px, 700);

    @media (min-width: $desktop-width) {
      font-size: 40px;
      line-height: 40px;
    }
}

.timings-list__subvalue {
  @include font-set(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}
