.timings-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 23px;
  }
}

.timings-list__item-name {
  padding-bottom: 2px;
  border-bottom: 1px solid $base-light-color;

  @include font-set(16px, 20px, 300);

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 3px;
  }
}

.timings-list__item-value {
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 1px;

  @include font-set(24px, 24px, 700);

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
  }
}

.timings-list__subvalue {
  width: min-content;
  margin-left: 3px;

  @include font-set(14px, 14px, 400);

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 6px;
  }
}
