*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  grid-template-rows: auto 1fr auto;

  color: $dark-text-color;
  font-family: $primary-font;

  background-color: $primary-bg;

  @include font-set(14px, 22px, 300);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
