// VIEWPORTS
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

// FONTS
$heading-font: "Alumni Sans", "Arial", sans-serif;
$primary-font: "Roboto Condensed", "Arial", sans-serif;

// COLORS
$base-dark-color: #102654;
$base-light-color: #ffffff;
// text
$dark-text-color: $base-dark-color;
$light-text-color: $base-light-color;
$accent-text-color: #103aae;
$shadow-text-color: #e8e8e8;
$gradient-text-color: linear-gradient(128deg, #d10a42 0%, #0041ca 50%);
$sub-accent-text-color: #2e35ac;

// buttons
$border-button-light: $base-light-color;
$border-button-dark: $base-dark-color;
$border-button-second-dark: #1c3374;
$buttons-bg: linear-gradient(149deg, #d10a42 0%, #00359f 100%);
$accent-tabs: #d10a42;
$underline-tabs: #74819c;
$unactive-tabs: rgba(16, 38, 84, 0.5);

// backgrounds
$primary-bg: #f8f9fc;
$base-light-bg: $base-light-color;
$base-dark-bg: $base-dark-color;
$second-dark-bg: #1c3374;
$hero-bg: linear-gradient(90deg, #1c3477 0%, #1a3578 39%, #73184b 76%, #b4022a 100%);
$banners-bg: #ed0233;
$juri-overlay-bg: #102654;
$footer-bg: #030a1a;

// icons
$light-icon-color: $base-light-color;
$dark-icon-color: $base-dark-color;

// form
$base-form-color: $base-light-color;
$error-form-color: #ff121f;
